 /* Universal Styles */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

/* Shared Styles */

    .container{
        max-width: 1400px;
        margin: 0 auto;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }

    .shared-button{
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        font-weight: 600;
        padding: 12px 20px;
        text-align: center;
        border-radius: 5px;
        background-color: #fd6e0aFF;
    }
    .shared-button:hover{
        background-color: rgb(158, 69, 6);
    }

    .contact-btn{
        color: #fd6e0a;
        background-color: white;
        border: 1px solid  #fd6e0aFF;
    }
    .contact-btn:hover{
        color: white;
        background-color: #fd6e0a;
    }

/* Header Section Styles */
    header{
        background-color: #fff8f3FF;
        background-image: url(./images/developer.png) , url(./images/header_bg.png);
        background-repeat: no-repeat;
        background-position: top left , bottom right;
        background-position-y: center , bottom;
    }
/* Navbar Styles */
    nav{
        display: flex;
        padding: 30px 0;
        align-items: center;
        justify-content: space-between;
    }

    .nav-logo{
        font-size: 45px;
        font-weight: 800;
    }

    .nav-logo-span{
        color: #fd6e0aFF;
    }

    nav ul{
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: space-between;
    }
    nav ul li {
        list-style: none;
    }
    nav ul li  a {
        font-size: 20px;
        color: #474747;
        text-decoration: none;
    }

/* Hero Section Styles */
    .hero-section-parent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 120px 0 250px;
    }
    .hero-left{
        text-align: left;
    }
    .hero-greeting{
        color: #474747;
        font-size: 45px;
        font-weight: 600;
    }
    .hero-tittle{
        font-size: 85px;
        font-weight: 700;
    }
    .hero-des{
        width: 585px;
        color: #757575;
        font-size: 18px;
        margin: 20px 0;
    }
    .hero-button{
        display: flex;
        align-items: center;
        gap: 20px;
    }
   
    .hero-right img{
        display: block;
        height: 100%;
        width: 100%;
    }
/* About Me Section Styles */
    .about-section-container{
        margin: 130px auto;
    }
    .about-section-parent{
        padding: 150px;
        text-align: center;
        border-radius: 10px;
        background: #fff8f3FF;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
    .about-section-title{
        font-size: 35px;
        font-weight: 700;
    }
    .about-section-des{
        max-width: 800px;
        color: #757575;
        font-size: 18px;
        line-height: 1.6;
        margin: 30px auto 0 auto;
    }
    .about-info-parent{
        display: flex;
        padding-top: 80px ;
        align-items: center;
        justify-content: space-around;
    }
    .about-info-tittle{
        color: #757575;
        font-size: 20px;
        line-height: 1.5;
    }
    .about-info{
        font-size: 20px;
        color: #474747;
        line-height: 1.5;
    }

/* What I DO Section Styles */
    .do-section-container{
        margin: 130px auto;
    }
    .do-section-heading{
        text-align: center;
    }
    .do-section-title{
        font-size: 35px;
        font-weight: 700;
    }
    .do-section-des{
        max-width: 900px;
        color: #757575;
        font-size: 18px;
        line-height: 1.6;
        margin: 20px auto;
    }
    .card-container{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .box-1 , .box-2 , .box-3 , .box-4 {
        padding: 50px;
        border-radius: 5px;
        background: #ffffffFF;
        box-shadow: 0px 6px 50px 0px #0000000F;
    }
    .box-2-img{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .box-1 h4  , .box-2 h4 , .box-3 h4 , .box-4 h4{
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 30px;
    }
    .box-1 p , .box-2 p , .box-3 p , .box-4 p{
        color: #757575;
        max-width: 200px;
        line-height: 1.75;
        margin-top: 23px;
    }

/* Summary Resume Styles */
    .resume-tittle{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
    }
    .qualification-container{
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: space-between;
    }
    .qualification-container hr{
        margin: 20px auto;
        width: 650px;
    }
    .resume-info-heading{
        color: #474747;
        font-size: 30px;
        font-weight: 700;
        margin-top: 120px;
    }

    .info-box{
        display: flex;
        flex-direction: column;
    }
    .info-tittle{
        color: #474747;
        font-size: 25px;
        font-weight: 700;
        margin-top: 35px;
    }
    .info-address{
        color: #757575;
        font-size: 20px;
        font-weight: 600;
        margin-top: 15px;
    }
    .info-des{
        color: #757575;
        font-size: 16px;
        line-height: 1.75;
        max-width: 450px;
        margin: 20px 0;
    }
    .download-btn{
        margin-top: 50px;
        text-align: center;
    }
/* Gallery Section Styles  */
    .amazing-works-container{
        margin: 130px auto;
    }
    .gallery-tittle{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
    }
    .amazing-works-card-container{
        gap: 30px;
        margin-top: 70px;
        display: grid;
        grid-auto-rows: 364px;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "one two three"
        "four two six"
        "four five six"
        ;
    }
    .amazing-works-card-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .works-1{
        grid-area: one;
    }
    .works-2{
        grid-area: two;

    }
    .works-3{
        grid-area: three;
    }
    .works-4{
        grid-area: four;
    }
    .works-5{
        grid-area: five;
    }
    .works-6{
        grid-area: six;
    }

/* Footer Section Styles */
    footer{
        background: #fff8f3;
        margin-top: 113px;
    }
      .footer-contents-container{
        display: flex;
        justify-content: center;
        padding: 100px 0;
        gap: 116px;
    }
       .footer-content-title{
        color: #181818;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .footer-content-text{
        color: #757575;
        width: 562px;
        line-height: 28px;
    }
    .footer-social-links{
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 24px;
    }
    .footer-contents-container form input[type="text"],
    .footer-contents-container form input[type="email"],
    .footer-contents-container form textarea
    {
        color: #757575;
        width: 461px;
        padding: 20px 30px;
        margin-bottom: 24px;
        font-size: 16px;
        background: #ffffff;
        border: none;
    }
     .copyright-text {
        color: #757575;
        text-align: center;
        font-weight: 500;
    }
/* Reponsive Styles for Small Screens */
    @media screen and (max-width:576px){
        /* shared styles */
        .shared-button{
            padding:10px 10px;
            font-size: 18px;
        }
        /* header */
        header{
            background-image: url(./images/header_bg.png);
            background-repeat: no-repeat;
            background-position: bottom center;
        }
        /* Navbar */
        nav{
            padding: 20px 0;
            flex-direction: column;
            
        }
        .nav-logo{
            font-size: 38px;
        }
        nav ul{
            margin-top: 16px;
        }
        nav ul li a{
            font-size: 16px;
        }
        /* hero section */
        .hero-section-parent{
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            margin:0px;
        
        }
        .hero-left{
            padding-top: 20px;
            text-align: center;

        }
        .hero-greeting{
            font-size: 30px;
        }
        .hero-tittle{
            font-size: 40px;
        }
        .hero-des{
            width: 280px;
            font-size: 16px;
            margin: 15px 0;
        }
        .hero-right img{
            width: 100%;
        }
        /* About Me Section */
        .about-section-container{
            margin: 60px 20px;
        }
        .about-section-parent{
            padding: 50px;
        }
        .about-section-title ,
        .do-section-title{
            font-size: 30px;
        }
        .about-section-des{
            font-size: 14px;
            margin: 20px auto 0 auto;
        }
        .about-info-parent{
            flex-direction: column;
            padding-top: 30px;
            gap: 15px;
        }
        .about-info-tittle ,
        .about-info{
            font-size: 16px;
        }
        /* What I DO Section  */
        .do-section-container{
            margin: 70px 30px;
        }
        
        .do-section-des{
            font-size: 14px;
            margin-top: 30px;
        }
        .card-container{
            gap: 30px;
            flex-direction: column;
        }

        /* Summary Resume Styles */

        .resume-tittle ,
        .gallery-tittle{
            font-size: 30px;
        }
        .qualification-container{
            gap: 30px;
            flex-direction: column;
            margin: 50px 40px 0px 40px;
        }

        .resume-info-heading{
            font-size: 28px;
            margin-top: 0;
        }
        .info-box{
            justify-content: center;
        }
        .info-tittle{
            font-size: 22px;
        }
        .info-address{
            font-size: 18px;
            margin-top: 10px;
        }
        .info-des{
            font-size: 14px;
            margin: 16px auto;
        }
        .qualification-container hr {
            margin: 10px auto;
            width: 100%;
        }
        .download-btn{
            margin-top: 20px;
        }
        /* Gallery Section Styles  */
         .amazing-works-container{
            margin: 70px auto;
        }
        
        .amazing-works-card-container{
            margin: 50px  30px;
            gap: 20px;
            grid-template-columns: repeat(1,1fr);
            grid-template-areas:         
            "one " 
            "two "        
            "three"
            "four  "
            "five "
            "six ";
         
        }
        /* Footer Section Styles */ 

        .footer-content-text{
            margin-top: 70px;
        }
        .footer-contents-container{
            padding: 40px;
            flex-direction: column;
            gap: 30px;
        }
        .footer-content-title{
            font-size: 28px;
            margin-bottom: 30px;
        }
        .footer-content-text{
            margin-top: 20px;
            width: 100%;
        }
        .footer-social-links{
            margin-top: 20px;
        }

       
        .footer-contents-container form input[type="text"],
        .footer-contents-container form input[type="email"],
        .footer-contents-container form textarea{
            width: 100%;
        }
        .copyright-text{
            font-size: 14px;
            font-weight: 500;

        }
    }
/* Responsive Styles For Medium Screens */
    @media screen and (min-width:576px) and (max-width:992px) {
         /* header */
        header{
            background-image: url(./images/header_bg.png);
            background-repeat: no-repeat;
            background-position: bottom center;
        }
        nav{
            padding: 15px 30px;
        }
         nav ul{
            margin-top: 16px;
        }
        nav ul li a{
            font-size: 18px;
        }
        /* hero section */
        .hero-section-parent{
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            margin:0px;
        
        }
         .hero-left{
            padding: 80px 0;
            text-align: center;

        }
        .hero-greeting{
            font-size: 40px;
        }
        .hero-tittle{
            font-size: 65px;
        }
        .hero-button{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        .hero-right img{
            width: 100%;
        }
        /* About Me Section */

        .about-section-container{
            margin: 70px 30px;
        }
        .about-section-parent{
            padding: 100px;
        }
        .about-info-parent{
            flex-wrap: wrap;
            gap: 50px;
        }
        /* What I DO Section  */

        .do-section-container{
            margin: 70px 50px;
        }
        
         .card-container{
            gap: 40px;
            flex-wrap: wrap;
        }
        /* Summary Resume Styles */
        .qualification-container{
            flex-direction: column;
            margin: 80px auto 0 auto;
        }
        .resume-info-heading{
            margin-top: 0px;
        }
        .download-btn{
            margin-top: 30px;
        }
        /* Gallery Section Styles  */
        .amazing-works-container{
            margin: 80px auto;
        }
          .amazing-works-card-container{
            margin: 70px 30px;
            gap: 20px;
            grid-template-columns: repeat(2,1fr);
            grid-template-areas:         
            "one  two" 
            "three four " 
            "five six ";
         
        }
        /* Footer Section Styles */
        footer{
            margin-top: 80px;
        }
        .footer-contents-container{
            flex-direction: column;
            padding: 80px;
            gap: 80px;
        }
        
        .footer-content-text {
            width: 430px;
        }

        .footer-contents-container form input[type="text"],
        .footer-contents-container form input[type="email"],
        .footer-contents-container form textarea {
            width: 100%;
        }
    }